.DS_Store
**/.DS_Store    

/data/RGB
/data/RGB.zip

**/__pycache__/**
*.zip
*.xlsx
**/aesthetiq-env/**

.env
.env.prod
.env.local
.env.*.local
/logs/app.log

.venv*/
venv/
**/venv/

# Coverage
.coverage
htmlcov/
*.cover

# Pytest
.pytest_cache/
